.flash-msg {
  position: fixed; 
  top: 35px; 
  left: 25%;
  right: 0;
  z-index: 7000;
}

#dashboard-header {
  margin-bottom:20px;
}
#dashboard_links {
  padding: 0;
}
#dashboard_links .nav {
  background:#3575A0 url(../img/devoops_pattern_b10.png) 0 0 repeat;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
#dashboard_links .nav-stacked > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  padding: 0;
  margin: 0;
}
#dashboard_links .nav-pills > li > a {
  color: #f8f8f8;
  display: block;
  padding: 20px 10px 20px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline:none;
}
#dashboard_links .nav-pills > li.active {
  border-top-color: rgba(0, 0, 0, 0.11);
  position: relative;
  margin: 0;
}
#dashboard_links .nav-pills > li.active > a, #dashboard_links .nav-pills > li.active > a:hover, #dashboard_links .nav-pills > li.active > a:focus, #dashboard_links .nav > li > a:hover, #dashboard_links .nav > li > a:focus {
  background:rgba(0, 0, 0, 0.1);
}
#dashboard_links .nav-pills > li.active > a:before {
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  left: -2px;
  font-size: 30px;
  color: #f8f8f8;
}
#dashboard_tabs {
  background:#f8f8f8;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#dashboard-overview {
  padding-bottom:15px;
}
.sparkline-dashboard {
  float: left;
  margin-right: 10px;
  text-align: center;
}
.sparkline-dashboard-info {
  float: left;
  display: block;
  text-align: center;
}
.sparkline-dashboard-info span {
  display: block;
  font-weight: bold;
  color: #b25050;
}
#ow-marketplace {
  margin-top: 20px;
}
.ow-server {
  padding-top: 8px;
  padding-bottom: 25px;
}
.ow-server:hover {
  background:#e7e7e7;
}
.ow-server .page-header {
  padding-bottom: 3px;
}
.ow-server h4 i {
  position: absolute;
  left: 15px;
}
.ow-server small {
  position: absolute;
  right: 15px;
  top: 51px;
}
.ow-server-bottom {
  margin-top:25px;
}
.ow-server-bottom .knob-slider {
  font-size: 11px;
}
#ow-server-footer {
  overflow: hidden;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.ow-settings {
  position: absolute;
  top: 18px;
  left: 40px;
  display:none;
}
.ow-settings a {
  color:#525252;
}
.ow-server:hover .ow-settings {
  display: block;
}
#ow-server-footer a {
  display: block;
  padding:10px 0;
  border-left:1px solid #f8f8f8;
  text-decoration:none;
}
#ow-server-footer a:first-child {
  border-left:0;
}
#ow-server-footer span {
  display: block;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 30% auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #FFF;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dcecb;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

